<% case url %>
<% when :new then
     path=questions_path %>
<% when :edit then
     path=  url_for(controller: :questions, action: :update, id: @question.id) %>
<% end %>
<%= form_for(@question, url: path, html: {multipart: true}) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content, class: :summernote %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
