<div id="wrapper">
  <%= render 'sticky/mainMenu' %>
  <%= render 'sticky/pageHeader', name: '질문 게시판' %>
  <section>
    <div class="container">
      <div class="row">
        <!--<p id="notice"><%#= notice %></p>-->
        <!--<h1>Listing Questions</h1>-->
        <div class="text-right margin-bottom-6">
          <%= link_to_unless(current_user.nil?, 'New Question', new_question_path, class: "btn btn-info") %>
        </div>

        <table class="table-bordered table-hover table table-vertical-middle margin-bottom-30">
          <thead>
          <tr class="size-15">
            <th class="weight-400">질문</th>
            <th class="text-center hidden-xs width-100 weight-300">답변 수</th>
            <th class="text-center hidden-xs width-100 weight-300">답변 유무</th>
            <th class="text-center hidden-xs width-200 weight-300">작성자</th>
          </tr>
          </thead>
          <tbody>
          <% @questions.each do |question| %>
              <tr>
                <td>
                  <h4 class="nomargin size-16">
                    <!--글 제목-->
                    <a href="<%= url_for(controller: :questions, action: :show, id: question.id) %>">
                      <%= question.title %>
                    </a>
                    <!--tag-list-->
                    <div class="margin-top-3 tag-list hidden-xs">
                      <% question.tags.each do |tag| %>
                          <a href="<%= url_for(controller: :tags, action: :search, tag_id: tag.id) %>" class="label <%= tag.tag_color %>"><%= tag.name %></a>
                      <% end %>
                    </div>
                  </h4>
                </td>
                <td class="text-center hidden-xs">
                  <a href="#"><%= question.answers.count %></a>
                </td>
                <td class="text-center hidden-xs">
                  <% if question.is_exist_check? %>
                      <a href="#"><i class="fa fa-check text-red"></i></a>
                  <% else %>
                      <a href="#"><i class="fa fa-remove"></i></a>
                  <% end %>

                </td>
                <td class="hidden-xs text-center">
                  <small class="block size-11 text-muted"><%= time_ago_in_words(question.created_at) %></small>
                  <a class="size-13" href="page-profile.html"><%= question.user.username %></a>
                </td>
              </tr>
          <% end %>


          </tbody>
        </table>
        <div class="row">
          <div class="flickr_pagination">
            <%= will_paginate @questions%>
          </div>
        </div>

      </div>
    </div>
  </section>
  <%#= render 'sticky/footer' %>
</div>
<%= render 'home/script' %>
<%# @questions.each do |questions| %>
<!--<tr>-->
<!--<td><%#= questions.title %></td>-->
<!--<td><%#= questions.content %></td>-->
<!--<td><%#= link_to 'Show', url_for(controller: :questions, action: :show, id: questions.id) %></td>-->
<!--<td><%#= link_to 'Edit', edit_question_path(questions) %></td>-->
<!--<td><%#= link_to 'Destroy', url_for(controller: :questions, action: :destroy, id: questions.id), method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
<!--</tr>-->
<%# end %>

