<div id="wrapper">
  <%= render 'sticky/mainMenu' %>
  <%= render 'sticky/pageHeader', name: 'questions' %>
  <section>
    <div class="container">
      <div class="row">
        <h1>New Question</h1>

        <%= render 'form', url: :new %>

        <%= link_to 'Back', questions_path %>
      </div>
    </div>
  </section>
  <%= render 'sticky/footer' %>
</div>
<%= render 'home/script' %>


