<div id="wrapper">
  <%= render 'sticky/mainMenu' %>
  <%= render 'sticky/pageHeader', name: 'blog' %>
  <section>
    <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-transparent">
            <div class="row">
              <div class="col-md-9">
                <h2 class="panel-title bold">Editing Blog</h2>
              </div>
              <div class="col-md-3 text-right">
                <a href="<%= url_for(controller: :blogs, action: :show, id: @blog.id) %>" class="btn btn-reveal btn-sm btn-3d btn-blue">
                  <i class="fa fa-home"></i>
                  <span>Back</span>
                </a>
              </div>
            </div>
          </div>
          <%= render 'form', url: :edit %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'sticky/footer' %>
</div>
<%= render 'script' %>