<div class="row" id="comment-<%= c.id %>">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <figure class="thumbnail">
      <img class="img-responsive" src="<%= asset_path 'avatar.png' %>">
      <figcaption class="text-center"><%= c.user.username %></figcaption>
    </figure>
  </div>
  <div class="col-md-10 col-sm-10">
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10 col-sm-10">
            <header class="text-left">
              <div class="comment-user"><i class="fa fa-user"></i> <%= c.user.username %></div>
              <span class="comment-date"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(c.created_at) %></span>
            </header>
          </div>
          <div class="col-md-2 col-sm-2">
            <%if current_user == c.user %>
                <div class="text-right">
                  <%= link_to '<span>x</span>'.html_safe, url_for(controller: url.to_s+"/comments", action: "destroy", id: c.id, (url.to_s+"_id").to_sym => c.commentable_id), method: :delete,remote: true, class: "btn btn-xs btn-3d btn-red", data: {confirm: 'Are you sure?'} %>
                </div>
            <%end%>
          </div>
        </div>

        <div class="comment-post">
          <p>
            <%= c.body %>
          </p>
        </div>
        <p class="text-right">
          <a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a>
        </p>
      </div>
    </div>
  </div>
</div>