<div class="row" id="comment-<%= comment.id %>">
  <div class="col-md-2 col-sm-2 hidden-xs">
    <figure class="thumbnail">
      <img class="img-responsive" src="<%= comment.user.avatar.url %>">
      <figcaption class="text-center"><%= comment.user.username %></figcaption>
    </figure>
  </div>
  <div class="col-md-10 col-sm-10">
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-10 col-sm-10">
            <header class="text-left">
              <div class="comment-user"><i class="fa fa-user"></i> <%= comment.user.username %></div>
              <span class="comment-date"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(comment.created_at) %></span>
            </header>
          </div>
          <div class="col-md-2 col-sm-2">
            <% if current_user == comment.user %>
                <div class="text-right">
                  <% if url==:post %>
                      <%= link_to '<span>x</span>'.html_safe, url_for(controller: url.to_s+"/comments", action: "destroy", id: comment.id, (url.to_s+"_id").to_sym => comment.commentable_id, category_id: category.id), method: :delete, remote: true, class: "btn btn-xs btn-3d btn-red", data: {confirm: 'Are you sure?'} %>
                  <% else %>
                      <%= link_to '<span>x</span>'.html_safe, url_for(controller: url.to_s+"/comments", action: "destroy", id: comment.id, (url.to_s+"_id").to_sym => comment.commentable_id), method: :delete, remote: true, class: "btn btn-xs btn-3d btn-red", data: {confirm: 'Are you sure?'} %>
                  <% end %>

                </div>
            <% end %>
          </div>
        </div>

        <div class="comment-post">

          <%= comment.body %>
        </div>
        <!--<p class="text-right">-->
        <!--<a href="#" class="btn btn-default btn-sm"><i class="fa fa-check"></i>채택하기</a>-->
        <!--</p>-->
      </div>
    </div>
  </div>
</div>