<div id="wrapper">

  <%= render partial: "sticky/mainMenu" %>
  <%= render "sticky/pageHeader", name: "과제" %>
  <section>
    <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading panel-heading-transparent">
            <div class="row">
              <div class="col-md-9">
                <h2 class="panel-title bold">과제 수정하기</h2>
              </div>
              <div class="col-md-3 text-right">
                <a href="<%= url_for(controller: :tasks, action: :show, id: @task.id) %>" class="btn btn-reveal btn-sm btn-3d btn-blue">
                  <i class="fa fa-home"></i>
                  <span>Back</span>
                </a>
              </div>
            </div>
          </div>
          <%= render 'form', url: :edit %>
        </div>
      </div>
    </div>
  </section>
</div>

<%= render partial: "script"%>