<p id="notice"><%= notice %></p>
<div id="wrapper">
  <%= render partial: "sticky/mainMenu" %>
  <%= render "sticky/pageHeader", name: "과제" %>


  <section>
    <div class="container">
      <div class="row">
        <div class="text-right margin-bottom-6">
          <% if user_signed_in? && current_user.admin %>
              <a href="<%= url_for(new_task_path) %>" class="btn btn-info">새 과제</a>
          <% end %>
        </div>
      </div>
      <% @tasks.each do |task| %>
          <div class="box-image text-center width-250 col-md-3 row-md-3 padding-10 margin-right-30 border-2"
               style="width:228px;height:300px;overflow-x:hidden;overflow-y:hidden">

            <!--<label>88% Completed</label>-->

            <!--<div class="progress progress-xxs">-->
            <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>-->
            <!--</div>-->

            <% if user_signed_in?&&task.is_submitted?(current_user) %>
                <div class="img-responsive" style="width:100%;height:155px;overflow-x:hidden;overflow-y:hidden; margin: auto">
                  <!-- image_tag(p.image.url) needs to be changed-->
                  <% if Submission.find_by(t_rate_id: TRate.find_by(task_id: task.id, user_id: current_user.id)).image.nil? %>
                      <img class="img-responsive" src="<%= asset_path 'favicon_s.png' %>" alt="default"/>
                  <% else %>
                      <img class="img-responsive" src="<%= Submission.find_by(t_rate_id: TRate.find_by(task_id: task.id, user_id: current_user.id)).image %>" alt="">
                  <% end %>
                </div>
            <% else %>
                <div class="img-responsive" style="width:129px;height:149px;overflow-x:hidden;overflow-y:hidden; margin: auto">
                  <img class="img-responsive" src="<%= asset_path 'favicon_s.png' %>" alt="default"/>
                </div>
            <% end %>

            <div class="box-image-title">
              <h4 class="nomargin size-16">
                <%= link_to "#{truncate(task.title, length: 15)}", url_for(controller: :tasks, action: :show, id: task.id) %>
              </h4>
              <div class="right">
                <ul class="list-inline categories nomargin text-muted size-11 hidden-xs">
                  <% if user_signed_in? && current_user.admin %>
                      <li><%= link_to 'Destroy', url_for(controller: :tasks, action: :destroy, id: task.id), method: :delete, data: {confirm: 'Are you sure?'} %></li>
                      <li><%= link_to 'Edit', edit_task_path(task) %></li>
                  <% end %>
                  &nbsp
                  <%= time_ago_in_words(task.created_at) %>

                </ul>
              </div>
            </div>
            <div class="panel-body padding-3">
              <% if user_signed_in? %>
                  <% if task.is_submitted?(current_user) %>
                      <%= link_to '<span>훔쳐보기</span>'.html_safe, url_for(controller: :submissions, action: :other, id: Submission.find_by(t_rate_id: TRate.find_by(user_id: current_user.id, task_id: task.id))), class: "btn btn-warning" %>
                      <%= link_to '<span>수정하기</span>'.html_safe, url_for(controller: :submissions, action: :edit, id: Submission.find_by(t_rate_id: TRate.find_by(user_id: current_user.id, task_id: task.id)), task_id: task.id), class: "btn btn-primary" %>
                  <% else %>
                      <%= link_to '<span>제출하기</span>'.html_safe, url_for(controller: :submissions, action: :new, task_id: task.id), class: "btn btn-success" %>
                  <% end %>
              <% else %>
                  <%= link_to '<span>로그인 후 이용하세요</span>'.html_safe, "/", class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>

      <% end %>

      <!--<div class="divider nomargin">&lt;!&ndash; divider &ndash;&gt;</div>-->
      <div class="text-center"><%= will_paginate @task %></div>
      <div class="clearfix margin-bottom-60">
      </div>

    </div>

  </section>

  <!-- / -->
</div>

<br>
<%= render partial: "script" %>
<%= render partial: "search" %>



