<div id="wrapper">
  <%= render partial: "sticky/mainMenu" %>
  <%= render "sticky/pageHeader", name: "과제" %>
  <section>
    <div class="container">
      <div class="row">
        <!-- LEFT -->
        <div class="col-md-9">
          <div class="heading-title">
            <h2><%=@task.title%></h2>
          </div>
        </div>
        <div class="col-md-3 text-right">
          <%if  user_signed_in?%>
              <%= link_to '<span>과제내기</span>'.html_safe, url_for(new_task_submission_path(@task)), class: "btn btn-success" %>

              <%if @task.is_submitted?(current_user) %>
                  <%= link_to '<span>훔쳐보기</span>'.html_safe, url_for(controller: :submissions, action: :other, id: @task.id), class: "btn btn-warning" %>
              <%end%>
          <% else %>
          <% end %>
        </div>
      </div>
      <div class="margin-top-0 panel panel-default">
        <div class="panel-body">
          <p class="font-lato size-18">
            <%=@task.content.html_safe%>
          </p>
        </div>
      </div>
      <%if  user_signed_in? && current_user.admin%>
        <%= link_to '<span>수정하기</span>'.html_safe, url_for(edit_task_path(@task)), class: "btn btn-primary" %>
        <%= link_to '<span>삭제하기</span>'.html_safe, url_for(controller: :tasks, action: :destroy, id: @task.id), method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure?'} %>
       <% end %>
    </div>
  </section>
</div>
<%= render partial: "script"%>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


