<div id="wrapper">
  <!--
      SIDE MENU

      .sidebar-hidden = open only on click
    -->
  <%= render partial: "sticky/mainMenu" %>
  <%= render "sticky/pageHeader", name: "New" %>
  <!--<section class="page-header dark page-header-xs">-->
    <!--<div class="container">-->
      <!--<h1>New</h1>-->
      <!--&lt;!&ndash; breadcrumbs &ndash;&gt;-->
      <!--<ol class="breadcrumb">-->
        <!--<li><a href="/">Main</a></li>-->
        <!--<li><a href="board">Board</a></li>-->
        <!--<li class="active">New</li>-->
      <!--</ol>&lt;!&ndash; /breadcrumbs &ndash;&gt;-->

    <!--</div>-->
  <!--</section>-->

  <!-- <textarea class="summernote form-control" data-height="200" data-lang="en-US"></textarea> -->
  <section>
    <div class="container" style="margin-top: 40px; padding-right: 100px; padding-left: 100px">
      <h1>New Board</h1>
      <%= render 'form', url: :new do |f| %>
          <div>
            <%=f.label :title%>
            <%=f.text_field :title%>
          </div>
          <div>
            <%=f.label :content%>
            <%=f.text_field :content%>
          </div>
          <%= f.submit %>
      <%end%>

      <%= link_to 'Back', photo_index_path %>

    </div>
  </section>
</div>

<%= render partial: "script"%>
