<div id="wrapper">
  <%= render partial: "sticky/mainMenu" %>
  <section id="slider" class="fullheight" style="background-image:url('<%= asset_path '17-min.jpg' %>')">
    <div class="overlay dark-3"><!-- dark overlay [0 to 9 opacity] --></div>
    <div class="display-table">
      <div class="display-table-cell vertical-align-middle">
        <div class="container">
          <div class="slider-featured-text text-center">
            <h1 class="text-white wow fadeInUp" data-wow-delay="0.4s">
              <!--
                TEXT ROTATOR
                data-animation="fade|flip|flipCube|flipUp|spin"
              -->
              <span class="rotate" data-animation="flipCube" data-speed="2500">
										Hack Your Life, Hello World!, 아이디어를 실현하자
									</span>
            </h1>
            <br>
            <h2 class="weight-300 text-white wow fadeInUp" data-wow-delay="0.8s">당신이 꿈꾸는 모든 것</h2>
            <a class="btn btn-default btn-lg wow fadeIn margin-top-40 scrollTo animated" data-wow-delay="1.5s" href="#notice" style="visibility: visible; animation-delay: 1.5s; animation-name: fadeIn;"><i class="fa fa-angle-down"></i>
              보러가기 &nbsp;<i class="fa fa-angle-down"></i></a>
          </div>

        </div>
      </div>
    </div>

  </section>
  <section id="notice">
    <div class="container">
      <div class="row mix-grid">
        <!-- Full COLUMNS -->
        <header class="margin-bottom-60 text-center">
          <h1>Lion's Notice</h1>
          <p class="lead font-lato">공지사항</p>
        </header>
        <!-- FILTER -->
        <ul class="nav nav-pills mix-filter margin-bottom-30">
          <li data-filter="all" class="filter active"><a href="#">All</a></li>
          <li data-filter="notice" class="filter"><a href="#">공지사항</a></li>
          <li data-filter="event" class="filter"><a href="#">이벤트</a></li>
          <li data-filter="best" class="filter"><a href="#">Best Post</a></li>
        </ul>
        <!-- /FILTER -->
        <!-- TOGGLES -->
        <div class="toggle toggle-transparent toggle-bordered-simple">
          <% @notice.each do |notice| %>
              <div class="toggle mix <%= notice.category.name %>"><!-- toggle -->
                <label><%= notice.title %></label>
                <div class="toggle-content">
                  <p class="clearfix">
                    <%= notice.content.html_safe %>
                  </p>
                </div>
              </div><!-- /toggle -->
          <% end %>
        </div>
        <!-- /TOGGLES -->
        <!-- /LEFT COLUMNS -->
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <header class="margin-bottom-60 text-center">
        <h1>Coming Up Next</h1>
        <p class="lead font-lato">다가오는 일정</p>
      </header>
      <br/>
      <div class="row">
        <div class="text-center">
          <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"3", "autoPlay": 4000, "navigation": true, "pagination": false}'>
            <% @events.each do |event| %>
                <div class="img-hover">
                  <div class="text-center list-inline list-separator">
                    <h2>
                      <span class="label label-default"><%= event.date %></span>
                    </h2>
                  </div>
                  <a href="<%= url_for(sch_path(event.id)) %>">
                    <img class="img-responsive" src="<%= event.image %>" alt="">
                  </a>
                  <h4 class="text-center margin-top-20"><a href="<%= url_for(sch_path(event.id)) %>"><%= truncate(event.title, length: 15) %></a></h4>
                  <p class="text-center"><%= truncate(event.content, length: 20) %></p>
                </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- /Carousel 4 -->
  <!-- / -->

  <%#= render partial: "sticky/footer" %>

</div>


<%= render partial: "script" %>