<!-- wrapper -->
<div id="wrapper">

  <!--
    SIDE MENU

    .sidebar-hidden = open only on click
  -->
  <%= render partial: "sticky/mainMenu" %>
  <!--
    SLIDER

    Classes:
      .fullheight = full height slider
  -->
  <section id="slider" class="fullheight" style="background-image:url('<%= asset_path 'background.jpg' %>')">
    <div class="overlay dark-3"><!-- dark overlay [0 to 9 opacity] --></div>

    <div class="display-table">
      <div class="display-table-cell vertical-align-middle">
        <div class="container">

          <div class="slider-featured-text text-center">
            <h1 class="text-white wow fadeInUp" data-wow-delay="0.4s">

              <!--
                TEXT ROTATOR
                data-animation="fade|flip|flipCube|flipUp|spin"
              -->
              <span class="rotate" data-animation="flipCube" data-speed="2500">
										Hack Your Life, Hello World!, 아이디어를 실현하자
									</span>
            </h1>
            <br>
            <h2 class="weight-300 text-white wow fadeInUp" data-wow-delay="0.8s">당신이 꿈꾸는 모든 것</h2>
            <div id="topMain" class="nav-onepage">
              <a class="btn btn-primary btn-lg wow fadeInUp" data-wow-delay="1s" href="#notice">내려가기</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

  <!--

  FULLWIDTH: OUTSIDE OF <section>

    Available Classes:
    alert-default
    alert-info
    alert-warning
    alert-danger
    alert-success
  -->
  <!--<div class="callout alert alert-info noborder noradius nomargin">-->
  <!--<div class="text-center">-->
  <!--<h3>Call now at <strong>+800-565-2390</strong> and get 15% discount!</h3>-->
  <!--<p class="font-lato size-20">-->
  <!--We truly care about our users and our product.-->
  <!--</p>-->
  <!--<a href="#purchase" rel="nofollow" target="_blank" class="btn btn-default btn-lg margin-top-30">PURCHASE NOW</a>-->
  <!--</div>-->
  <!--</div>-->

  <section id="notice">
    <div class="container">

      <div class="row mix-grid">

        <!-- Full COLUMNS -->
        <div class="col-md-8 col-md-offset-2">
          <header class="margin-bottom-60 text-center">
            <h1>Lion's Notice</h1>
            <p class="lead font-lato">공지사항</p>
          </header>
          <!-- FILTER -->
          <ul class="nav nav-pills mix-filter margin-bottom-30">
            <li data-filter="all" class="filter active"><a href="#">All</a></li>
            <li data-filter="development" class="filter"><a href="#">공지사항</a></li>
            <li data-filter="photography" class="filter"><a href="#">이벤트</a></li>
            <li data-filter="design" class="filter"><a href="#">Best Post</a></li>
          </ul>
          <!-- /FILTER -->
          <!-- TOGGLES -->
          <div class="toggle toggle-transparent toggle-bordered-simple">

            <div class="toggle mix design active"><!-- toggle -->
              <label>동국대 멋쟁이 사자처럼 아이디어톤</label>
              <div class="toggle-content">
                <p class="clearfix">
                  <img class="hidden-sm pull-left img-responsive" src="<%= asset_path 'intro.png' %>" alt="Careers"/>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed,
                  dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac
                  massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a
                  sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et,
                  iaculis ac massa.
                  <br/><br/>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed,
                  dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac
                  massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a
                  sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et,
                  iaculis ac massa.
                </p>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix photography"><!-- toggle -->
              <label>박성준 보아라</label>
              <div class="toggle-content">
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed,
                  dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac
                  massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a
                  sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et,
                  iaculis ac massa.
                </p>

                <div class="row">

                  <div class="col-md-4 col-sm-6">

                    <ul class="list-icon check-square"><!-- block 2 -->
                      <li>Nulla lacinia iaculis nulla</li>
                      <li>Cum sociis natoque penatibus</li>
                      <li>Magnis dis parturient montes</li>
                    </ul>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <ul class="list-icon check-square"><!-- block 2 -->
                      <li>Nulla lacinia iaculis nulla</li>
                      <li>Cum sociis natoque penatibus</li>
                      <li>Magnis dis parturient montes</li>
                    </ul>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <ul class="list-icon check-square"><!-- block 2 -->
                      <li>Nulla lacinia iaculis nulla</li>
                      <li>Cum sociis natoque penatibus</li>
                      <li>Magnis dis parturient montes</li>
                    </ul>

                  </div>

                </div>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix design"><!-- toggle -->
              <label>싸이먼 도미닉</label>
              <div class="toggle-content">
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed,
                  dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac
                  massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a
                  sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et,
                  iaculis ac massa.
                </p>

                <div class="row">

                  <div class="col-md-4 col-sm-6">

                    <div class="box-content thumbnail text-center">
                      <a href="assets/images/demo/1200x800/10-min.jpg" class="item-image lightbox" data-plugin-options='{"type":"image"}'>
                        <img class="img-responsive" src="assets/images/demo/451x300/10-min.jpg" alt=""/>
                      </a>
                    </div>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <div class="box-content thumbnail text-center">
                      <a href="http://www.youtube.com/watch?v=s0MDY9fl-IA" class="item-image lightbox" data-plugin-options='{"type":"iframe"}'>
                        <img class="img-responsive" src="assets/images/demo/451x300/11-min.jpg" alt=""/>
                      </a>
                    </div>

                  </div>

                  <div class="col-md-4 col-sm-6">

                    <div class="box-content thumbnail text-center">
                      <a href="assets/images/demo/1200x800/25-min.jpg" class="item-image lightbox" data-plugin-options='{"type":"image"}'>
                        <img class="img-responsive" src="assets/images/demo/451x300/25-min.jpg" alt=""/>
                      </a>
                    </div>

                  </div>

                </div>

              </div>
            </div><!-- /toggle -->

            <div class="toggle mix development"><!-- toggle -->
              <label>은지 스케쥴 화이팅</label>
              <div class="toggle-content">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a
                  sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
                <p class="clearfix">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed,
                  dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac
                  massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a
                  sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et,
                  iaculis ac massa.
                  <br/><br/>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed,
                  dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac
                  massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a
                  sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et,
                  iaculis ac massa.
                </p>

              </div>
            </div><!-- /toggle -->

          </div>
          <!-- /TOGGLES -->

        </div>
        <!-- /LEFT COLUMNS -->


      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <header class="margin-bottom-60 text-center">
        <h1>Coming Up Next</h1>
        <p class="lead font-lato">다가오는 일정</p>
      </header>
      <br/>
      <!--
        controlls-over		= navigation buttons over the image
        buttons-autohide 	= navigation buttons visible on mouse hover only

        data-plugin-options:
          "singleItem": true
          "autoPlay": true (or ms. eg: 4000)
          "navigation": true
          "pagination": true
          "items": "4"

        owl-carousel item paddings
          .owl-padding-0
          .owl-padding-3
          .owl-padding-6
          .owl-padding-10
          .owl-padding-15
          .owl-padding-20
      -->
      <div class="text-center">
        <div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"3", "autoPlay": 4000, "navigation": true, "pagination": false}'>
          <div class="img-hover">
            <div class="text-center list-inline list-separator">
              <h2>
                <span class="label label-default">2017 02 25</span>
              </h2>
            </div>
            <a href="blog-single-default.html">
              <img class="img-responsive" src="<%= asset_path 'hack2.jpg' %>" alt="">
            </a>
            <h4 class="text-left margin-top-20"><a href="blog-single-default.html">Lorem Ipsum Dolor</a></h4>
            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod
              est tenetur in.</p>
          </div>
          <div class="img-hover">
            <div class="text-center list-inline list-separator">
              <h2>
                <span class="label label-default">2017 03 22</span>
              </h2>
            </div>
            <a href="blog-single-default.html">
              <img class="img-responsive" src="<%= asset_path 'intro.png' %>" alt="">
            </a>

            <h4 class="text-left margin-top-20"><a href="blog-single-default.html">Lorem Ipsum Dolor</a></h4>
            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod
              est tenetur in.</p>
          </div>
          <div class="img-hover">
            <div class="text-center list-inline list-separator">
              <h2>
                <span class="label label-default">2017 04 20</span>
              </h2>
            </div>
            <a href="blog-single-default.html">
              <img class="img-responsive" src="assets/images/demo/451x300/30-min.jpg" alt="">
            </a>

            <h4 class="text-left margin-top-20"><a href="blog-single-default.html">Lorem Ipsum Dolor</a></h4>
            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod
              est tenetur in.</p>
          </div>
          <div class="img-hover">
            <div class="text-center list-inline list-separator">
              <h2>
                <span class="label label-default">2017 05 20</span>
              </h2>
            </div>
            <a href="blog-single-default.html">
              <img class="img-responsive" src="assets/images/demo/451x300/26-min.jpg" alt="">
            </a>

            <h4 class="text-left margin-top-20"><a href="blog-single-default.html">Lorem Ipsum Dolor</a></h4>
            <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, asperiores quod
              est tenetur in.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Carousel 4 -->
  <!-- / -->

  <%= render partial: "sticky/footer" %>

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!-- PRELOADER -->
<div id="preloader">
  <div class="inner">
    <span class="loader"></span>
  </div>
</div><!-- /PRELOADER -->

<%= render partial: "script" %>