<div id="wrapper">
  <%= render 'sticky/mainMenu' %>
  <%= render 'sticky/pageHeader', name: "유저 프로필" %>
  <section>
    <div class="container">

      <br>
      <!-- LEFT -->
      <div class="col-lg-3 col-md-3 col-sm-4">

        <div class="thumbnail text-center">
          <img src="<%= @user.avatar.url %>" alt="">
          <h2 class="size-18 margin-top-10 margin-bottom-0"><%= @user.username %></h2>
          <!--<h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">4기 tutor</h3>-->
        </div>

        <!-- completed -->
        <div class="margin-bottom-30">
          <label><%= number_to_percentage(@user.complete_profile, precision: 0) %> 프로필이 완성됬습니다.</label>
          <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= @user.complete_profile %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage(@user.complete_profile, precision: 0) %>; min-width: 2em;"></div>
          </div>
        </div>
        <!-- /completed -->

        <!-- info -->
        <div class="box-light margin-bottom-30"><!-- .box-light OR .box-light -->
          <div class="row margin-bottom-20">

            <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
              <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway"><%= @user.posts.count %></h2>
              <h3 class="size-15 margin-top-0 margin-bottom-10 text-info">글</h3>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
              <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway"><%= @reply.count %></h2>
              <h3 class="size-15 margin-top-0 margin-bottom-10 text-info">댓글</h3>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
              <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway text-red"><%= @user.check_count %></h2>
              <h3 class="size-15 margin-top-0 margin-bottom-10 text-info">채택</h3>
            </div>
          </div>
          <!-- /info -->

          <div class="text-muted">

            <ul class="list-unstyled nomargin">
              <li class="margin-bottom-10"><i class="fa fa-user width-20 hidden-xs hidden-sm"></i>
                <%= @user.username %></li>
              <li class="margin-bottom-10"><i class="fa fa-phone width-20 hidden-xs hidden-sm"></i>
                <% if @user.phone_number.nil?||@user.phone_number=="" %>
                    <span class="text-red">아직 입력하지 않았습니다.</span>
                <% else %>
                    <%= @user.phone_number %>
                <% end %>
              </li>
              <li class="margin-bottom-10"><i class="fa fa-facebook width-20 hidden-xs hidden-sm"></i>
                <a href="https://www.facebook.com/DGUlion/?fref=ts">멋쟁이사자처럼 동국대</a></li>
              <li class="margin-bottom-10"><i class="fa fa-twitter width-20 hidden-xs hidden-sm"></i>
                <a href="https://uni.likelion.org">UNILION</a></li>
            </ul>
          </div>

        </div>

      </div>


      <!-- RIGHT -->
      <div class="col-lg-9 col-md-9 col-sm-8">

        <!-- FLIP BOX -->
        <div class="box-flip box-icon box-icon-center box-icon-round box-icon-large text-center nomargin" style="min-height: 201px;">
          <div class="front">
            <div class="box1 noradius" style="min-height: 201px;">
              <div class="box-icon-title">
                <i class="fa fa-user"></i>
                <h2><%= @user.username %>– Profile</h2>
              </div>
              <p><%= @user.nickname %></p>
            </div>
          </div>

          <div class="back">
            <div class="box2 noradius" style="min-height: 201px;">
              <h4>자기소개</h4>
              <hr>
              <%if !@user.description.nil? %>
                  <p><%= @user.description.html_safe %></p>
              <%else%>
                <p class="text-red">아직 입력하지 않았습니다!</p>
              <% end %>
            </div>
          </div>
        </div>
        <!-- /FLIP BOX -->


        <div class="box-light"><!-- .box-light OR .box-dark -->

          <div class="row">

            <!-- POPULAR POSTS -->
            <div class="col-md-6 col-sm-6">

              <div class="box-inner">
                <h3>
                  <a class="pull-right size-11 text-warning" href="<%=  url_for(sches_path) %>">일정 보러가기</a>
                  출석률
                </h3>
                <div class="row text-center">
                  <div class="piechart" data-color="#C10841" data-trackcolor="rgba(255,255,255,0.3)" data-size="200" data-percent="<%= Att.rate(@user)*100 %>" data-width="20" data-animate="1700">
								<span class="size-40 weight-300">
									<span class="countTo" data-speed="3000"><%= Att.rate(@user)*100 %></span>%
								</span>
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <!-- INLINE SEARCH -->
                <label><%= number_to_percentage(Att.rate(@user)*100, precision: 0) %> 출석률</label>
                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= Att.rate(@user)*100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= Att.rate(@user)*100 %>%; min-width: 2em;"></div>
                </div>
                <!-- /INLINE SEARCH -->

              </div>
            </div>
            <!-- /POPULAR POSTS -->

            <!-- FRIENDS -->
            <div class="col-md-6 col-sm-6">

              <div class="box-inner">
                <h3>
                  <a class="pull-right size-11 text-warning" href="<%= url_for(tasks_path) %>">과제 보러가기</a>
                  과제 제출
                </h3>
                <div class="row text-center">
                  <div class="piechart" data-color="#C10841" data-trackcolor="rgba(255,255,255,0.3)" data-size="200" data-percent="<%= TRate.rate(@user)*100 %>" data-width="20" data-animate="1700">
								<span class="size-40 weight-300">
									<span class="countTo" data-speed="3000"><%= TRate.rate(@user)*100 %></span>%
								</span>
                  </div>
                </div>
              </div>

              <div class="box-footer">
                <!-- INLINE SEARCH -->
                <label><%= number_to_percentage(TRate.rate(@user)*100, precision: 0) %> 제출률</label>
                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= TRate.rate(@user)*100 %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= TRate.rate(@user)*100 %>%; min-width: 2em;"></div>
                </div>
                <!-- /INLINE SEARCH -->

              </div>

            </div>
            <!-- /FRIENDS -->

          </div>


          <div class="row margin-top-30">

            <!-- DISCUSSIONS -->
            <div class="col-md-6 col-sm-6">

              <div class="box-inner">
                <h3>
                  <!--<a class="pull-right size-11 text-warning" href="#">GO DETAIL</a>-->
                  작성한 글 & 질문
                </h3>
                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                  <% @user.posts.order(created_at: :desc).each do |post| %>
                      <a href="<%= url_for(post.where_post) %>">
                        <div class="clearfix margin-bottom-20"><!-- discussion item -->
                          <!--<img class="thumbnail pull-left" src="assets/images/demo/people/300x300/3-min.jpg" width="60" height="60" alt="" />-->
                          <span class="label label-default label-square pull-left">
													<i class="<%= post.category.get_icon %>"></i>
												</span>
                          <h4 class="size-15 nomargin noborder nopadding bold"><%= truncate(post.category.name, length: 20) %>
                          </h4>
                          <span class="size-13 text-muted">
                           <%= post.title %>
                            <span class="text-success size-11"><%= time_ago_in_words(post.created_at) %></span>
                        </span>
                        </div><!-- /discussion item -->
                      </a>
                  <% end %>
                </div>
              </div>

            </div>
            <!-- /DISCUSSIONS -->

            <!-- NOTIFICATIONS -->
            <div class="col-md-6 col-sm-6">

              <div class="box-inner">
                <h3>
                  <!--<a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>-->
                  작성한 댓글 & 답변
                </h3>
                <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
                  <% @reply.each do |reply| %>
                      <a href="<%= url_for(reply.post.where_post) %>">
                        <div class="clearfix margin-bottom-20"><!-- notification item -->
                          <span class="label label-default label-square pull-left">
													<i class="<%= reply.post.category.get_icon %>"></i>
												</span>
                          <span class="size-14 text-muted"><%= truncate(sanitize(reply.body), length: 20) %></span>
                          <span class="text-success size-11"><%= time_ago_in_words(reply.created_at) %></span>
                          <% if reply.class==Answer&&reply.check== true %>
                              <span class="text-red size-11">채택됨</span>
                          <% end %>
                        </div><!-- /notification item -->
                      </a>
                  <% end %>

                </div>
              </div>
            </div>
            <!-- /NOTIFICATIONS -->

          </div>


        </div>
        <br>
        <div class="row">
          <%if user_signed_in? && @user==current_user %>
              <div class="text-center">
                <%= link_to('프로필 수정하러가기', edit_user_registration_path, class: "btn btn-default btn-lg") %>
              </div>
          <%end%>

        </div>

        <!--todo 메세지 기능-->
        <!--<form method="post" action="#" class="box-light margin-top-20">&lt;!&ndash; .box-light OR .box-dark &ndash;&gt;-->
        <!--<div class="box-inner">-->
        <!--<h4 class="uppercase">LEAVE A MESSAGE TO <strong>FELICIA DOE</strong></h4>-->

        <!--<textarea required="" class="form-control word-count" data-maxlength="100" rows="5" placeholder="Type your message here..."></textarea>-->
        <!--<div class="text-muted text-right margin-top-3 size-12 margin-bottom-10">-->
        <!--<span>0/100</span> Words-->
        <!--</div>-->

        <!--<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>-->
        <!--</div>-->
        <!--</form>-->

      </div>

    </div>
  </section>
</div>
<%= render "home/script" %>