<div id="wrapper">
  <%= render 'sticky/mainMenu' %>
  <%= render 'sticky/pageHeader', name: "마이페이지" %>
  <section>
    <div class="container">

      <!-- LEFT -->
      <div class="col-lg-3 col-md-3 col-sm-4">

        <div class="thumbnail text-center">
          <img src="<%= asset_path 'avatar2.jpg' %>" alt="">
          <h2 class="size-18 margin-top-10 margin-bottom-0"><%= @user.username %></h2>
          <h3 class="size-11 margin-top-0 margin-bottom-10 text-muted">4기 tutor</h3>
        </div>

        <!-- completed -->
        <div class="margin-bottom-30">
          <label>88% completed profile</label>
          <div class="progress progress-xxs">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
          </div>
        </div>
        <!-- /completed -->

        <!-- SIDE NAV -->
        <ul class="side-nav list-group margin-bottom-60" id="sidebar-nav">
          <li class="list-group-item active"><a href="page-profile.html"><i class="fa fa-eye"></i> PROFILE</a></li>
          <li class="list-group-item"><a href="page-profile-projects.html"><i class="fa fa-tasks"></i> PROJECTS</a></li>
          <li class="list-group-item"><a href="page-profile-comments.html"><i class="fa fa-comments-o"></i> COMMENTS</a>
          </li>
          <li class="list-group-item"><a href="page-profile-history.html"><i class="fa fa-history"></i> HISTORY</a></li>
          <li class="list-group-item"><a href="page-profile-settings.html"><i class="fa fa-gears"></i> SETTINGS</a></li>

          <li class="list-group-item list-toggle">   <!-- NOTE: "active" to be open on page load -->
            <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-1">DROPDOWN EXAMPLE</a>
            <ul id="collapse-1" class="collapse"><!-- NOTE: "collapse in" to be open on page load -->
              <li><a href="#"><i class="fa fa-angle-right"></i> SUMBENU 1</a></li>
              <li>
                <span class="badge badge-red">New</span>
                <a href="#"><i class="fa fa-angle-right"></i> SUMBENU 2</a>
              </li>
              <li class="active"><a href="#"><i class="fa fa-angle-right"></i> SUMBENU 3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i> SUMBENU 4</a></li>
            </ul>
          </li>
        </ul>
        <!-- /SIDE NAV -->


        <!-- info -->
        <div class="box-light margin-bottom-30"><!-- .box-light OR .box-light -->
          <div class="row margin-bottom-20">
            <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
              <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">12</h2>
              <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">PROJECTS</h3>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
              <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">34</h2>
              <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">TASKS</h3>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
              <h2 class="size-30 margin-top-10 margin-bottom-0 font-raleway">32</h2>
              <h3 class="size-11 margin-top-0 margin-bottom-10 text-info">UPLOADS</h3>
            </div>
          </div>
          <!-- /info -->

          <div class="text-muted">
            <h2 class="size-18 text-muted margin-bottom-6"><b>About</b> <%= @user.username %></h2>
            <p>Lorem ipsum dolor sit amet diam nonummy nibh dolore.</p>

            <ul class="list-unstyled nomargin">
              <li class="margin-bottom-10"><i class="fa fa-globe width-20 hidden-xs hidden-sm"></i>
                <a href="http://www.stepofweb.com">www.stepofweb.com</a></li>
              <li class="margin-bottom-10"><i class="fa fa-facebook width-20 hidden-xs hidden-sm"></i>
                <a href="http://www.facebook.com/stepofweb">stepofweb</a></li>
              <li class="margin-bottom-10"><i class="fa fa-twitter width-20 hidden-xs hidden-sm"></i>
                <a href="http://www.twitter.com/stepofweb">@stepofweb</a></li>
            </ul>
          </div>

        </div>

      </div>


      <!-- RIGHT -->
      <div class="col-lg-9 col-md-9 col-sm-8">

        <!-- FLIP BOX -->
        <div class="box-flip box-icon box-icon-center box-icon-round box-icon-large text-center nomargin" style="min-height: 201px;">
          <div class="front">
            <div class="box1 noradius" style="min-height: 201px;">
              <div class="box-icon-title">
                <i class="fa fa-user"></i>
                <h2><%= @user.username %>– Profile</h2>
              </div>
              <p>멋쟁이사자처럼 4기 개발팀</p>
            </div>
          </div>

          <div class="back">
            <div class="box2 noradius" style="min-height: 201px;">
              <h4>Description</h4>
              <hr>
              <p><%= @user.description %></p>

            </div>
          </div>
        </div>
        <!-- /FLIP BOX -->


        <div class="box-light"><!-- .box-light OR .box-dark -->

          <div class="row">

            <!-- POPULAR POSTS -->
            <div class="col-md-6 col-sm-6">

              <div class="box-inner">
                <h3>
                  <a class="pull-right size-11 text-warning" href="#">GO DETAIL</a>
                  출석률
                </h3>
                <div class="row text-center">
                  <div class="piechart" data-color="#C10841" data-trackcolor="rgba(255,255,255,0.3)" data-size="200" data-percent="100" data-width="20" data-animate="1700">
								<span class="size-40 weight-300">
									<span class="countTo" data-speed="3000">100</span>%
								</span>
                  </div>
                </div>

              </div>
              <div class="box-footer">
                <!-- INLINE SEARCH -->
                <label>88% completed profile</label>
                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
                </div>
                <!-- /INLINE SEARCH -->

              </div>
            </div>
            <!-- /POPULAR POSTS -->

            <!-- FRIENDS -->
            <div class="col-md-6 col-sm-6">

              <div class="box-inner">
                <h3>
                  <a class="pull-right size-11 text-warning" href="#">GO DETAIL</a>
                  과제 제출
                </h3>
                <div class="row text-center">
                  <div class="piechart" data-color="#C10841" data-trackcolor="rgba(255,255,255,0.3)" data-size="200" data-percent="100" data-width="20" data-animate="1700">
								<span class="size-40 weight-300">
									<span class="countTo" data-speed="3000">100</span>%
								</span>
                  </div>
                </div>
              </div>

              <div class="box-footer">
                <!-- INLINE SEARCH -->
                <label>88% completed profile</label>
                <div class="progress progress-xxs">
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
                </div>
                <!-- /INLINE SEARCH -->

              </div>

            </div>
            <!-- /FRIENDS -->

          </div>


          <div class="row margin-top-30">

            <!-- DISCUSSIONS -->
            <div class="col-md-6 col-sm-6">

              <div class="box-inner">
                <h3>
                  <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                  DISCUSSIONS
                </h3>
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                  <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true" style="overflow: hidden; width: auto; height: 250px;">

                    <div class="clearfix margin-bottom-20"><!-- discussion item -->
                      <img class="thumbnail pull-left" src="assets/images/demo/people/300x300/3-min.jpg" alt="" height="60" width="60">
                      <h4 class="size-15 nomargin noborder nopadding bold"><a href="#">Joana Doe</a></h4>
                      <span class="size-13 text-muted">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													<span class="text-success size-11">12 min. ago</span>
												</span>
                    </div><!-- /discussion item -->

                    <div class="clearfix margin-bottom-20"><!-- discussion item -->
                      <img class="thumbnail pull-left" src="assets/images/demo/people/300x300/4-min.jpg" alt="" height="60" width="60">
                      <h4 class="size-15 nomargin noborder nopadding bold"><a href="#">Melissa Doe</a></h4>
                      <span class="size-13 text-muted">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													<span class="text-success size-11">54 min. ago</span>
												</span>
                    </div><!-- /discussion item -->

                    <div class="clearfix margin-bottom-20"><!-- discussion item -->
                      <img class="thumbnail pull-left" src="assets/images/demo/people/300x300/5-min.jpg" alt="" height="60" width="60">
                      <h4 class="size-15 nomargin noborder nopadding bold"><a href="#">juliet Doe</a></h4>
                      <span class="size-13 text-muted">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													<span class="text-success size-11">8 days ago</span>
												</span>
                    </div><!-- /discussion item -->

                    <div class="clearfix margin-bottom-20"><!-- discussion item -->
                      <img class="thumbnail pull-left" src="assets/images/demo/people/300x300/6-min.jpg" alt="" height="60" width="60">
                      <h4 class="size-15 nomargin noborder nopadding bold"><a href="#">Suanna Doe</a></h4>
                      <span class="size-13 text-muted">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													<span class="text-success size-11">12 day ago</span>
												</span>
                    </div><!-- /discussion item -->

                    <div class="clearfix margin-bottom-20"><!-- discussion item -->
                      <img class="thumbnail pull-left" src="assets/images/demo/people/300x300/7-min.jpg" alt="" height="60" width="60">
                      <h4 class="size-15 nomargin noborder nopadding bold"><a href="#">Felicia Doe</a></h4>
                      <span class="size-13 text-muted">
													Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													<span class="text-success size-11">1 month ago</span>
												</span>
                    </div><!-- /discussion item -->

                  </div>
                  <div class="slimScrollBar" style="background: rgb(51, 51, 51) none repeat scroll 0% 0%; width: 5px; position: absolute; top: 111px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 138.889px;"></div>
                  <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: block; border-radius: 7px; background: rgb(234, 234, 234) none repeat scroll 0% 0%; opacity: 0.05; z-index: 90; right: 1px;"></div>
                </div>
              </div>

              <div class="box-footer">
                <!-- INLINE SEARCH -->
                <div class="inline-search clearfix">
                  <form action="#" method="get" class="widget_search nomargin">
                    <input placeholder="Search Discussion..." name="s" class="serch-input" type="search">
                    <button type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                    <div class="clear"></div>
                  </form>
                </div>
                <!-- /INLINE SEARCH -->

              </div>

            </div>
            <!-- /DISCUSSIONS -->

            <!-- NOTIFICATIONS -->
            <div class="col-md-6 col-sm-6">

              <div class="box-inner">
                <h3>
                  <a class="pull-right size-11 text-warning" href="#">VIEW ALL</a>
                  NOTIFICATIONS
                </h3>
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                  <div class="height-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true" style="overflow: hidden; width: auto; height: 250px;">

                    <div class="clearfix margin-bottom-20"><!-- notification item -->
                      <span class="label label-success label-square pull-left">
													<i class="fa fa-comment"></i>
												</span>
                      <span class="size-14 text-muted"><b>New Comment</b>: <a href="blog-single-default.html">Lorem ipsum Dolor</a></span>
                    </div><!-- /notification item -->

                    <div class="clearfix margin-bottom-20"><!-- notification item -->
                      <span class="label label-danger label-square pull-left">
													<i class="glyphicon glyphicon-remove"></i>
												</span>
                      <span class="size-14 text-muted"><b>Rejected</b>: <a href="#">Joana Doe</a> rejected friendship</span>
                    </div><!-- /notification item -->

                    <div class="clearfix margin-bottom-20"><!-- notification item -->
                      <span class="label label-warning label-square pull-left">
													<i class="fa fa-warning"></i>
												</span>
                      <span class="size-14 text-muted"><b>Warning</b>: Lorem ipsum Dolor</span>
                    </div><!-- /notification item -->

                    <div class="clearfix margin-bottom-20"><!-- notification item -->
                      <span class="label label-info label-square pull-left">
													<i class="fa fa-info-circle"></i>
												</span>
                      <span class="size-14 text-muted"><b>Info</b>: Lorem ipsum Dolor</span>
                    </div><!-- /notification item -->

                    <div class="clearfix margin-bottom-20"><!-- notification item -->
                      <span class="label label-primary label-square pull-left">
													<i class="fa fa-check"></i>
												</span>
                      <span class="size-14 text-muted"><b>Primary</b>: Lorem ipsum Dolor</span>
                    </div><!-- /notification item -->

                    <div class="clearfix margin-bottom-20"><!-- notification item -->
                      <span class="label label-default label-square pull-left">
													<i class="fa fa-heart-o"></i>
												</span>
                      <span class="size-14 text-muted"><b>Default</b>: Lorem ipsum Dolor</span>
                    </div><!-- /notification item -->

                    <div class="clearfix margin-bottom-20"><!-- notification item -->
                      <span class="label label-purple label-square pull-left">
													<i class="fa fa-clock-o"></i>
												</span>
                      <span class="size-14 text-muted"><b>Various</b>: Lorem ipsum Dolor</span>
                    </div><!-- /notification item -->

                  </div>
                  <div class="slimScrollBar" style="background: rgb(51, 51, 51) none repeat scroll 0% 0%; width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 198.413px;"></div>
                  <div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: block; border-radius: 7px; background: rgb(234, 234, 234) none repeat scroll 0% 0%; opacity: 0.05; z-index: 90; right: 1px;"></div>
                </div>
              </div>

              <div class="box-footer">
                <!-- INLINE SEARCH -->
                <div class="inline-search clearfix">
                  <form action="#" method="get" class="widget_search nomargin">
                    <input placeholder="Search notification..." name="s" class="serch-input" type="search">
                    <button type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                    <div class="clear"></div>
                  </form>
                </div>
                <!-- /INLINE SEARCH -->

              </div>

            </div>
            <!-- /NOTIFICATIONS -->

          </div>


        </div>


        <form method="post" action="#" class="box-light margin-top-20"><!-- .box-light OR .box-dark -->
          <div class="box-inner">
            <h4 class="uppercase">LEAVE A MESSAGE TO <strong>FELICIA DOE</strong></h4>

            <textarea required="" class="form-control word-count" data-maxlength="100" rows="5" placeholder="Type your message here..."></textarea>
            <div class="text-muted text-right margin-top-3 size-12 margin-bottom-10">
              <span>0/100</span> Words
            </div>

            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
          </div>
        </form>

      </div>

    </div>
  </section>
</div>
<%= render "home/script" %>