<p id="notice"><%= notice %></p>
<div id="wrapper">

  <%= render partial: "sticky/mainMenu" %>
  <%= render "sticky/pageHeader", name: "Submission index" %>

  <section>
    <div class="container">



     <%if action_name=="index" %>
           <!--real search -->
          <div class="inline-search clearfix margin-bottom-30 ui-widget">
          <%= form_tag(task_submissions_path, :method => "get") do %>
            <%= text_field_tag :search, params[:search], id: 'search-form', placeholder: "Search Posts" %>
            <%= submit_tag "Search" %>
          <% end %>
          </div>
      <% else %>
          <div class="inline-search clearfix margin-bottom-30 ui-widget">
            <%= form_tag(other_path, :method => "get") do %>
                <%= text_field_tag :search, params[:search], id: 'search-form', placeholder: "Search Posts" %>
                <%= submit_tag "Search" %>
            <% end %>
          </div>
     <%end%>


      <div class="clearfix margin-bottom-20 text-right">
        <%unless action_name== 'other' %>
          <%= link_to '<span>New Submission</span>'.html_safe, url_for(controller: :submissions, action: :new, task_id: @task.id), class: "btn btn-success" %>
        <%end%>
        <%= link_to '<span>Back to TaskList</span>'.html_safe, url_for(tasks_path), class: "btn btn-warning" %>
      </div>
      <!-- /real search -->

      <!-- /INLINE SEARCH -->


      <!-- Search result-->
      <% if @submissions.present? %>
          <%= @submissions %>
      <% else %>
          <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
      <% end %>
      <!-- /Search result-->
        <!-- LEFT -->
          <!-- FORUM 1 -->
          <table class="table table-vertical-middle margin-bottom-60">
            <thead>
            <tr class="size-15">
              <th class="weight-300">Submitted Tasks</th>

              <th class="text-center hidden-xs width-100 weight-300">FRESHNESS</th>
              <th class="text-center hidden-xs width-200 weight-300"></th>
            </tr>
            </thead>
            <tbody>


            <%@submissions.each do |p|%>
                <tr>
                  <td>
                    <h4 class="nomargin size-16">

                        <%= p.title %>

                        <%= Task.find(p.task_id).title %>
                      <ul class="list-inline categories nomargin text-muted size-11 hidden-xs">
                        <li>Created by <a href="#"> <%= p.user.username %></a></li>

                        <!-- Only writer can activate this buttons by using devise-->
                        <li><%= link_to 'Delete', url_for(controller: :submissions, action: :destroy, task_id: p.task_id, id: p.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
                        <li><%= link_to 'Edit', url_for(controller: :submissions, action: :edit, id: p.id, task_id: p.task_id) %></li>
                      </ul>

                    </h4>
                  </td>

                  <td class="text-center hidden-xs">
                    <a href="#"><%= time_ago_in_words(p.created_at) %></a>
                  </td>
                  <td class="hidden-xs text-center">
                    <small class="block size-11 text-muted">

                          <%= link_to '<span>See</span>'.html_safe, url_for(controller: :submissions, action: :show, task_id: p.task_id, id: p.id), class: "btn btn-danger" %>

                    </small>

                    <!--<a class="size-13" href="page-profile.html">Joanna Doe</a>-->
                  </td>
                </tr>
            <% end %>


            </tbody>
          </table>
          <!-- /FORUM 1 -->
      <div class="text-center"><%= will_paginate @submissionsList %></div>

          <div class="divider nomargin"><!-- divider --></div>



          <!-- WARNING
          <div class="alert alert-warning alert-bordered-dashed text-center margin-bottom-30"></span>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <p>YOU MUST BE LOGGED IN TO CREATE A NEW TOPIC!</p>
          </div>-->


          <!-- pagination
          <div class="text-center">
            <ul class="pagination">
              <li><a href="#">&laquo;</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
           /pagination -->



        </div>




  </section>
  <!-- / -->
</div>


<br>

<%= render partial: "script"%>
<%= render partial: "search"%>



