<%= form_for(@board) do |f|%>
    <div>
      <%=f.label :title%>
      <%=f.text_field :title%>
    </div>
    <div>
      <%=f.label :content%>
      <%=f.text_field :content%>
    </div>
    <%= f.submit %>
<%end%>
