<div id="wrapper">
  <%= render partial: "sticky/mainMenu" %>
  <%= render "sticky/pageHeader", name: "Board" %>


  <section>
    <div class="container">
      <div class="row">
        <!-- POST ITEM -->
        <div class="blog-post-item container">
          <!-- go to write button-->
          <div class="row ">
            <div class="col-md-6">
              <ul class="nav nav-pills margin-bottom-30">
                <li class="active"><a href="#">자유게시판</a></li>
                <li class=""><a href="<%= url_for(root_path) %>">익명게시판</a></li>
                <li class=""><a href="#">공지사항</a></li>
                <li class=""><a href="#">이벤트</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <% if user_signed_in? %>
                  <div align="right">
                    <%= link_to '<span>New post</span>'.html_safe, url_for(new_board_path), class: "btn btn-success" %>
                  </div>
                  <br>
              <% end %>
            </div>
            <div></div>
            <table class="table table-vertical-middle margin-bottom-30">
              <thead>
              <tr class="size-15">
                <th class="weight-400">제목</th>
                <th class="text-center hidden-xs width-100 weight-300">댓글</th>
                <th class="text-center hidden-xs width-200 weight-300">작성자</th>
              </tr>
              </thead>
              <tbody>
              <% @boards.each do |board| %>
                  <tr class="<%= board.category.name %>" >
                    <td class="weight-400">
                      <h4 class="nomargin size-16">
                        <!--글 제목-->
                        <a href="">
                          <%= board.title %>
                        </a>
                      </h4>
                    </td>
                    <td class="text-center hidden-xs">
                      <a href="#"><%= board.comments.count %></a>
                    </td>
                    <td class="hidden-xs text-center">
                      <small class="block size-11 text-muted"><%= time_ago_in_words(board.created_at) %></small>
                      <a class="size-13" href="page-profile.html"><%= board.user.username %></a>
                    </td>
                  </tr>
              <% end %>

              <% @boards.each do |board| %>
                  <tr class="mix <%= board.category.name %>" >
                    <td class="weight-400">
                      <h4 class="nomargin size-16">
                        <!--글 제목-->
                        <a href="">
                          <%= board.title %>
                        </a>
                      </h4>
                    </td>
                    <td class="text-center hidden-xs">
                      <a href="#"><%= board.comments.count %></a>
                    </td>
                    <td class="hidden-xs text-center">
                      <small class="block size-11 text-muted"><%= time_ago_in_words(board.created_at) %></small>
                      <a class="size-13" href="page-profile.html"><%= board.user.username %></a>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>


          <!-- real search -->
          <!--<div class="inline-search clearfix margin-bottom-30 ui-widget">-->
          <!--<%= form_tag(boards_path, :method => "get") do %>-->
              <!--<%= text_field_tag :search, params[:search], id: 'search-form', placeholder: "Search Posts" %>-->
              <!--<%= submit_tag "Search" %>-->
              <!--
          <% end %>-->
          <!--</div>-->
          <!-- /real search -->

          <!-- /INLINE SEARCH -->


          <!-- Search result-->
          <% if @boards.present? %>
              <%#= @boards %>
          <% else %>
              <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
          <% end %>
          <!-- /Search result-->
          <!-- common_post 1 -->
        </div>
        <!-- /POST ITEM -->
      </div>
    </div>
  </section>


  <!-- FOOTER -->
  <%= render partial: "sticky/footer" %>
</div>
<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
<%= render partial: "script" %>
<%#= render partial: "search" %>



