<div id="wrapper">

  <!--
      SIDE MENU

      .sidebar-hidden = open only on click
    -->
  <%= render partial: "sticky/mainMenu" %>
  <%= render "sticky/pageHeader", name: "Board" %>
  <!--<section class="page-header dark page-header-xs">-->
  <!--<div class="container">-->

  <!--<h1>Board</h1>-->

  <!--&lt;!&ndash; breadcrumbs &ndash;&gt;-->
  <!--<ol class="breadcrumb">-->
  <!--<li><a href="/">Main</a></li>-->
  <!--<li class="active">Board</li>-->
  <!--</ol>&lt;!&ndash; /breadcrumbs &ndash;&gt;-->

  <!--</div>-->
  <!--</section>-->


  <!-- POST ITEM -->
  <div class="blog-post-item container" style="margin-top: 40px; padding-right: 100px; padding-left: 100px">



    <!-- go to write button-->
    <div align="right">
        <%= link_to '<span>New post</span>'.html_safe, url_for(new_board_path), class: "btn btn-success" %>
    </div><br>


    <!-- INLINE SEARCH -->

    <!--<div class="inline-search clearfix margin-bottom-30">
      <form action="#" method="get" class="widget_search">

        <input type="search" placeholder="Start Searching..." id="search" name="search_box" class="serch-input">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>

    </div>

    <br> -->
    <!-- real search -->
    <div class="inline-search clearfix margin-bottom-30">
      <%= form_tag(boards_path, :method => "get", id: 'search-form') do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
          <%= submit_tag "Search" %>
      <% end %>
    </div>
    <!-- /real search -->

    <!-- /INLINE SEARCH -->


    <!-- Search result-->
    <% if @boards.present? %>
        <%= @boards %>

    <% else %>
        <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
    <% end %>
    <!-- /Search result-->



    <!-- common_post 1 -->
    <h2>
      <%@boards.each do |p|%>
          <div>
            <%=link_to "#{p.title}", board_path(p) %><br>
            <ul class="blog-post-info list-inline">
              <li>
                <a href="#">
                  <i class="fa fa-user"></i>
                  <span class="font-lato">Writer : <%= p.user.username %></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-clock-o"></i>
                  <span class="font-lato">Written Time : <%= time_ago_in_words(p.created_at) %></span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-comment-o"></i>
                  <span class="font-lato"> <%= p.comments.count %> comments</span>
                </a>
              </li>

            </ul>


          </div>
      <%end%>
    </h2>




  </div>
  <!-- /POST ITEM -->

  <!-- FOOTER -->
  <%= render partial: "sticky/footer" %>
</div>
<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
<%= render partial: "script"%>





<script>
    $( function() {
        var availableTags = [
            <% @boards.each do |b| %>
            "<%= b.title %>",
            "<%= b.content %>",
            <% end %>
        ];
        $( "#search-form" ).autocomplete({
            source: availableTags
        });
    } );
</script>