

<!--
  AVAILABLE BODY CLASSES:

  smoothscroll 			= create a browser smooth scroll
  enable-animation		= enable WOW animations

  bg-grey					= grey background
  grain-grey				= grey grain background
  grain-blue				= blue grain background
  grain-green				= green grain background
  grain-blue				= blue grain background
  grain-orange			= orange grain background
  grain-yellow			= yellow grain background

  boxed 					= boxed layout
  pattern1 ... patern11	= pattern background
  menu-vertical-hide		= hidden, open on click

  BACKGROUND IMAGE [together with .boxed class]
  data-background="assets/images/boxed_background/1.jpg"
-->

<!-- wrapper -->
<div id="wrapper">


  <!--
    AVAILABLE HEADER CLASSES

    Default nav height: 96px
    .header-md 		= 70px nav height
    .header-sm 		= 60px nav height

    .noborder 		= remove bottom border (only with transparent use)
    .transparent	= transparent header
    .translucent	= translucent header
    .sticky			= sticky header
    .static			= static header
    .dark			= dark header
    .bottom			= header on bottom

    shadow-before-1 = shadow 1 header top
    shadow-after-1 	= shadow 1 header bottom
    shadow-before-2 = shadow 2 header top
    shadow-after-2 	= shadow 2 header bottom
    shadow-before-3 = shadow 3 header top
    shadow-after-3 	= shadow 3 header bottom

    .clearfix		= required for mobile menu, do not remove!

    Example Usage:  class="clearfix sticky header-sm transparent noborder"
  -->


  <!--
    PAGE HEADER

    CLASSES:
      .page-header-xs	= 20px margins
      .page-header-md	= 50px margins
      .page-header-lg	= 80px margins
      .page-header-xlg= 130px margins
      .dark			= dark page header

      .shadow-before-1 	= shadow 1 header top
      .shadow-after-1 	= shadow 1 header bottom
      .shadow-before-2 	= shadow 2 header top
      .shadow-after-2 	= shadow 2 header bottom
      .shadow-before-3 	= shadow 3 header top
      .shadow-after-3 	= shadow 3 header bottom
  -->
  <%= render partial: "sticky/mainMenu" %>
  <%= render "sticky/pageHeader", name: "Show" %>



  <!-- -->
  <section>
    <div class="container">
      <div class="right">
        <% if @board.is_writer?(current_user) %>
            <div class="text-right">
              <%= link_to '<span>수정하기</span>'.html_safe, url_for(edit_board_path(@board)), class: "btn btn-primary" %>
              <%= link_to '<span>삭제하기</span>'.html_safe, url_for(controller: :boards, action: :destroy, id: @board.id), method: :delete, class: "btn btn-danger", data: {confirm: 'Are you sure?'} %>
              <%= link_to '<span>돌아가기</span>'.html_safe, url_for(boards_index_path), class: "btn btn-warning" %>
            </div>
        <% end %>
      </div>
      <br><br>
      <div class="row">
        <!-- LEFT -->
        <div class="col-md-9 col-sm-9">


          <h1 class="blog-post-title"><%=@board.title%></h1>
          <ul class="blog-post-info list-inline">
            <li>
              <a href="#">
                <i class="fa fa-user"></i>
                <span class="font-lato">Writer : <%= @board.user.username %></span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-clock-o"></i>
                <span class="font-lato">Written Time : <%= time_ago_in_words(@board.created_at) %></span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-comment-o"></i>
                <span class="font-lato"><%= @board.comments.count %> comments</span>
              </a>
            </li>

          </ul>



          <!-- IMAGE -->
          <!--
          <figure class="margin-bottom-20">
            <img class="img-responsive" src="assets/images/demo/content_slider/10-min.jpg" alt="img" />
          </figure>
          -->
          <!-- /IMAGE -->

          <!-- VIDEO -->
          <!--
          <div class="margin-bottom-20 embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/8408210" width="800" height="450"></iframe>
          </div>
          -->
          <!-- /VIDEO -->


          <!-- article content -->


          <!-- BLOCKQUOTE -->
          <blockquote>
            <p class="dropcap"><%=@board.content.html_safe%></p>
          </blockquote>

          <!-- /article content -->


          <div class="divider divider-dotted"><!-- divider --></div>




          <!-- SHARE POST -->
          <div class="clearfix margin-top-30">

								<span class="pull-left margin-top-6 bold hidden-xs">
									Share Post:
								</span>

            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-right" data-toggle="tooltip" data-placement="top" title="Facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-right" data-toggle="tooltip" data-placement="top" title="Twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-right" data-toggle="tooltip" data-placement="top" title="Google plus">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin pull-right" data-toggle="tooltip" data-placement="top" title="Linkedin">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest pull-right" data-toggle="tooltip" data-placement="top" title="Pinterest">
              <i class="icon-pinterest"></i>
              <i class="icon-pinterest"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-icon-transparent social-call pull-right" data-toggle="tooltip" data-placement="top" title="Email">
              <i class="icon-email3"></i>
              <i class="icon-email3"></i>
            </a>

          </div>
          <!-- /SHARE POST -->


          <div class="divider"><!-- divider --></div>


          <ul class="pager">
            <li class="previous"><a class="noborder" href="#">&larr; Previous Post</a></li>
            <li class="next"><a class="noborder" href="#">Next Post &rarr;</a></li>
          </ul>


          <div class="divider"><!-- divider --></div>



          <div id="comments" class="comments">

            <!-- COMMENTS

            <h4 class="page-header margin-bottom-60 size-20">
              <span>3</span> COMMENTS
            </h4>

            <!-- comment item --
            <div class="comment-item">

              <!-- user-avatar --
              <span class="user-avatar">
										<img class="pull-left media-object" src="assets/images/avatar.png" width="64" height="64" alt="">
									</span>

              <div class="media-body">
                <a href="#commentForm" class="scrollTo comment-reply">reply</a>
                <h4 class="media-heading bold">John Doe</h4>
                <small class="block">June 29, 2014 - 11:23</small>
                Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

            <!-- comment item --
            <div class="comment-item">

              <!-- user-avatar --
              <span class="user-avatar">
										<img class="pull-left media-object" src="assets/images/avatar.png" width="64" height="64" alt="">
									</span>

              <div class="media-body">
                <a href="#commentForm" class="scrollTo comment-reply">reply</a>
                <h4 class="media-heading bold">Diana Doe</h4>
                <small class="block">June 29, 2014 - 11:23</small>
                Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

            <!-- comment item --
            <div class="comment-item">

              <!-- user-avatar --
              <span class="user-avatar">
										<img class="media-object" src="assets/images/avatar.png" width="64" height="64" alt="">
									</span>

              <div class="media-body">
                <a href="#commentForm" class="scrollTo comment-reply">reply</a>
                <h4 class="media-heading bold">Melissa Doe</h4>
                <small class="block">June 29, 2014 - 11:23</small>
                Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                <!-- comment reply --
                <div class="media">

                  <!-- user-avatar --
                  <span class="user-avatar">
												<img class="media-object" src="assets/images/avatar.png" width="64" height="64" alt="">
											</span>

                  <div class="media-body">
                    <h4 class="media-heading bold">Peter Doe</h4>
                    <small class="block">June 29, 2014 - 11:23</small>
                    Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </div>
                </div>

              </div>
            </div>







          </div>
          <!-- /COMMENTS -->


        </div>

        <!-- RIGHT -->
        <div class="col-md-3 col-sm-3">

          <!-- INLINE SEARCH -->
          <div class="inline-search clearfix margin-bottom-30">
            <form action="#" method="get" class="widget_search">
              <input type="search" placeholder="Start Searching..." id="s" name="s" class="serch-input">
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
          <!-- /INLINE SEARCH -->

          <hr />




          <!-- JUSTIFIED TAB -->
          <div class="tabs nomargin-top hidden-xs margin-bottom-60">

            <!-- tabs -->
            <ul class="nav nav-tabs nav-bottom-border nav-justified">
              <li class="active">
                <a href="#tab_1" data-toggle="tab">
                  Popular
                </a>
              </li>
              <li>
                <a href="#tab_2" data-toggle="tab">
                  Recent
                </a>
              </li>
            </ul>

            <!-- tabs content -->
            <div class="tab-content margin-bottom-60 margin-top-30">

              <!-- POPULAR -->
              <div id="tab_1" class="tab-pane active">

                <div class="row tab-post"><!-- post -->
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="blog-sidebar-left.html">
                      <img src="assets/images/demo/people/300x300/1-min.jpg" width="50" alt="" />
                    </a>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <a href="blog-sidebar-left.html" class="tab-post-link">Maecenas metus nulla</a>
                    <small>June 29 2014</small>
                  </div>
                </div><!-- /post -->

                <div class="row tab-post"><!-- post -->
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="blog-sidebar-left.html">
                      <img src="assets/images/demo/people/300x300/2-min.jpg" width="50" alt="" />
                    </a>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <a href="blog-sidebar-left.html" class="tab-post-link">Curabitur pellentesque neque eget diam</a>
                    <small>June 29 2014</small>
                  </div>
                </div><!-- /post -->

                <div class="row tab-post"><!-- post -->
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="blog-sidebar-left.html">
                      <img src="assets/images/demo/people/300x300/3-min.jpg" width="50" alt="" />
                    </a>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <a href="blog-sidebar-left.html" class="tab-post-link">Nam et lacus neque. Ut enim massa, sodales</a>
                    <small>June 29 2014</small>
                  </div>
                </div><!-- /post -->

              </div>
              <!-- /POPULAR -->


              <!-- RECENT -->
              <div id="tab_2" class="tab-pane">

                <div class="row tab-post"><!-- post -->
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="blog-sidebar-left.html">
                      <img src="assets/images/demo/people/300x300/4-min.jpg" width="50" alt="" />
                    </a>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <a href="blog-sidebar-left.html" class="tab-post-link">Curabitur pellentesque neque eget diam</a>
                    <small>June 29 2014</small>
                  </div>
                </div><!-- /post -->

                <div class="row tab-post"><!-- post -->
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="blog-sidebar-left.html">
                      <img src="assets/images/demo/people/300x300/5-min.jpg" width="50" alt="" />
                    </a>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <a href="blog-sidebar-left.html" class="tab-post-link">Maecenas metus nulla</a>
                    <small>June 29 2014</small>
                  </div>
                </div><!-- /post -->

                <div class="row tab-post"><!-- post -->
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <a href="blog-sidebar-left.html">
                      <img src="assets/images/demo/people/300x300/6-min.jpg" width="50" alt="" />
                    </a>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <a href="blog-sidebar-left.html" class="tab-post-link">Quisque ut nulla at nunc</a>
                    <small>June 29 2014</small>
                  </div>
                </div><!-- /post -->
              </div>
              <!-- /RECENT -->

            </div>

          </div>
          <!-- JUSTIFIED TAB -->




          <hr />



        </div>

      </div>


    </div>
  </section>
  <!-- / -->





</div>
<%= render partial: "script"%>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>


<!--
  PRELOADER
<div id="preloader">
  <div class="inner">
    <span class="loader"></span>
  </div>
</div> /PRELOADER
-->

