<%= form_for(@blog, url: blog_index_path ) do |b| %>
    <div class="field">
      <%= b.label :title %><br>
      <%= b.text_field :title %>
    </div>
    <div class="field">
      <%= b.label :content %><br>
      <%= b.text_area :content %>
    </div>
    <div class="field">
      <input name="blog[user_id]" id="blog_user_id" value="<%= current_user.id unless current_user.nil?  %>" type="hidden">
    </div>
    <div class="actions">
      <%= b.submit '저장' %>
    </div>
<% end %>