<div id="wrapper">
  <%= render 'sticky/mainMenu' %>
  <%= render 'sticky/pageHeader', name: 'blog' %>
  <section>
    <h1>Editing Blog</h1>

    <%= render 'form', url: :edit %>

    <%= link_to 'Show', @blog %> |
    <%= link_to 'Back', blog_index_path %>
  </section>
  <%= render 'sticky/footer' %>
</div>
<%= render 'script' %>