<div id="wrapper">
  <%= render 'sticky/mainMenu' %>
  <%= render 'sticky/pageHeader', name: 'blog' %>
  <p id="notice"><%= notice %></p>
  <section>
    <div class="container">

      <h1 class="blog-post-title"><%= @blog.title %></h1>
      <ul class="blog-post-info list-inline">
        <li>
          <a href="#">
            <i class="fa fa-clock-o"></i>
            <span class="font-lato"><%= @blog.created_at %></span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comment-o"></i>
            <span class="font-lato">28 Comments</span>
          </a>
        </li>
        <li>
          <i class="fa fa-folder-open-o"></i>

          <a class="category" href="#">
            <span class="font-lato">Design</span>
          </a>
          <a class="category" href="#">
            <span class="font-lato">Photography</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user"></i>
            <span class="font-lato"><%= @blog.user.username %></span>
          </a>
        </li>
        <%#if @blog.writer?(@blog.user_id) %>
        <%if @blog.is_writer?(current_user) %>
            <li>
              <a href="<%= url_for(edit_blog_path(@blog)) %>" class="btn btn-default">
                <span class="font-lato">수정하기</span>
              </a>
            </li>
        <%end%>
      </ul>

      <!-- OWL SLIDER -->
      <!--<div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"items": 1, "autoPlay": 4500, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp", "progressBar":"false"}'>-->
      <!--<a class="lightbox" href="assets/images/demo/1200x800/10-min.jpg" data-plugin-options='{"type":"image"}'>-->
      <!--<img class="img-responsive" src="assets/images/demo/content_slider/10-min.jpg" alt="" />-->
      <!--</a>-->
      <!--<a class="lightbox" href="assets/images/demo/1200x800/3-min.jpg" data-plugin-options='{"type":"image"}'>-->
      <!--<img class="img-responsive" src="assets/images/demo/content_slider/3-min.jpg" alt="" />-->
      <!--</a>-->
      <!--<a class="lightbox" href="assets/images/demo/1200x800/21-min.jpg" data-plugin-options='{"type":"image"}'>-->
      <!--<img class="img-responsive" src="assets/images/demo/content_slider/21-min.jpg" alt="" />-->
      <!--</a>-->
      <!--</div>-->
      <!-- /OWL SLIDER -->

      <!-- IMAGE -->

      <figure class="margin-bottom-20">
        <img class="img-responsive" src="<%= asset_path '3-min.jpg' %>" alt="img"/>
      </figure>

      <!-- /IMAGE -->

      <!-- VIDEO -->
      <!--
      <div class="margin-bottom-20 embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/8408210" width="800" height="450"></iframe>
      </div>
      -->
      <!-- /VIDEO -->


      <!-- article content -->
      <p class="dropcap"><%= @blog.content %></p>


      <div class="divider divider-dotted"><!-- divider --></div>

      <!--todo: 태그만들기-->
      <!-- TAGS -->
      <a class="tag" href="#">
        <span class="txt">RESPONSIVE</span>
        <span class="num">12</span>
      </a>
      <a class="tag" href="#">
        <span class="txt">CSS</span>
        <span class="num">3</span>
      </a>
      <a class="tag" href="#">
        <span class="txt">HTML</span>
        <span class="num">1</span>
      </a>
      <a class="tag" href="#">
        <span class="txt">JAVASCRIPT</span>
        <span class="num">28</span>
      </a>
      <a class="tag" href="#">
        <span class="txt">DESIGN</span>
        <span class="num">6</span>
      </a>
      <a class="tag" href="#">
        <span class="txt">DEVELOPMENT</span>
        <span class="num">3</span>
      </a>
      <!-- /TAGS -->


      <!--todo-won: 연관 블로그 넘어가게 하기-->
      <!-- SHARE POST -->
      <div class="clearfix margin-top-30">

						<span class="pull-left margin-top-6 bold hidden-xs">
							Share Post:
						</span>

        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-right" data-toggle="tooltip" data-placement="top" title="Facebook">
          <i class="icon-facebook"></i>
          <i class="icon-facebook"></i>
        </a>

        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-right" data-toggle="tooltip" data-placement="top" title="Twitter">
          <i class="icon-twitter"></i>
          <i class="icon-twitter"></i>
        </a>

        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus pull-right" data-toggle="tooltip" data-placement="top" title="Google plus">
          <i class="icon-gplus"></i>
          <i class="icon-gplus"></i>
        </a>

        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin pull-right" data-toggle="tooltip" data-placement="top" title="Linkedin">
          <i class="icon-linkedin"></i>
          <i class="icon-linkedin"></i>
        </a>

        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest pull-right" data-toggle="tooltip" data-placement="top" title="Pinterest">
          <i class="icon-pinterest"></i>
          <i class="icon-pinterest"></i>
        </a>

        <a href="#" class="social-icon social-icon-sm social-icon-transparent social-call pull-right" data-toggle="tooltip" data-placement="top" title="Email">
          <i class="icon-email3"></i>
          <i class="icon-email3"></i>
        </a>

      </div>
      <!-- /SHARE POST -->


      <div class="divider"><!-- divider --></div>


      <ul class="pager">
        <li class="previous"><a class="noborder" href="#">&larr; Previous Post</a></li>
        <li class="next"><a class="noborder" href="#">Next Post &rarr;</a></li>
      </ul>


      <div class="divider"><!-- divider --></div>


      <!-- COMMENTS -->
      <div id="comments" class="comments">

        <h4 class="page-header margin-bottom-60 size-20">
          <span>2</span> COMMENTS
        </h4>

        <!-- comment item -->
        <div class="comment-item">

          <!-- user-avatar -->
          <span class="user-avatar">
								<img class="pull-left media-object" src="assets/images/avatar.png" width="64" height="64" alt="">
							</span>

          <div class="media-body">
            <a href="#commentForm" class="scrollTo comment-reply">reply</a>
            <h4 class="media-heading bold">John Doe</h4>
            <small class="block">June 29, 2014 - 11:23</small>
            Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta
            dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>

        <!-- comment item -->
        <div class="comment-item">

          <!-- user-avatar -->
          <span class="user-avatar">
								<img class="media-object" src="assets/images/avatar.png" width="64" height="64" alt="">
							</span>

          <div class="media-body">
            <a href="#commentForm" class="scrollTo comment-reply">reply</a>
            <h4 class="media-heading bold">Melissa Doe</h4>
            <small class="block">June 29, 2014 - 11:23</small>
            Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta
            dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            <!-- comment reply -->
            <div class="media">

              <!-- user-avatar -->
              <span class="user-avatar">
										<img class="media-object" src="assets/images/avatar.png" width="64" height="64" alt="">
									</span>

              <div class="media-body">
                <h4 class="media-heading bold">Peter Doe</h4>
                <small class="block">June 29, 2014 - 11:23</small>
                Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci
                porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </div>
            </div>

          </div>
        </div>


        <h4 class="page-header size-20 margin-bottom-60 margin-top-100">
          LEAVE A <span>COMMENT</span>
        </h4>

        <!-- Form -->
        <form action="#" method="post">

          <div class="row">
            <div class="form-group">
              <div class="col-md-4">
                <label>NAME</label>
                <input required="required" type="text" value="" maxlength="100" class="form-control input-lg" name="author" id="author">
              </div>
              <div class="col-md-4">
                <label>EMAIL</label>
                <input required="required" type="email" value="" maxlength="100" class="form-control input-lg" name="contact_email" id="contact_email">
              </div>
              <div class="col-md-4">
                <label>WEBSITE</label>
                <input type="email" value="" maxlength="100" class="form-control input-lg" name="url" id="url">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <label>COMMENT</label>
                <textarea required="required" maxlength="5000" rows="5" class="form-control" name="comment" id="comment"></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <button class="btn btn-3d btn-lg btn-reveal btn-black">
                <i class="fa fa-check"></i>
                <span>SUBMIT MESSAGE</span>
              </button>

            </div>
          </div>

        </form>
        <!-- /Form -->

      </div>
      <!-- /COMMENTS -->


    </div>
  </section>
  <%= render 'sticky/footer' %>
</div>
<%= render 'script' %>
|
<%= link_to 'Back', blog_index_path %>

